@charset "UTF-08";
/* configurações gerais*/
*{
    margin:  0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

html, body{
   
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 46, 219);
}
h1{
    color: white;
    text-shadow:  2px 2px 0px rgb(11, 2, 138);
    padding: 10px;
}